{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/carousel.js') }}" defer></script>
    <script src="{{ asset('js/faq.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div class="main-profil">
        <h1 class="profil-title">Mon Profil</h1>
        <p class="user-name">{{ app.user.username }}</p>
        {# Section photo de profil #}
        {% if user.avatar %}
            <img class="avatar"
                 src="{{ asset(app.user.avatar) }}" alt="Avatar de {{ app.user.username }}" width="200">
        {% else %}
            <p>Aucun avatar défini</p>
        {% endif %}

        <a href="{{ path('app_edit_avatar') }}">Modifier avatar</a>
        {# Section liens utiles #}
        <section class="profil-links">
            <h2>Let's Go!</h2>
            <ul class="btn-links">
                <li><a class="blue" href="{{ path('app_profile_favorites_posts') }}">A lire plus tard</a></li>
                <li><a class="pink" href="{{ path('app_profile_favorites') }}">Mes playlists</a></li>
            </ul>
        </section>


        {# Section faq #}
        <!-- Section FAQ avec accordéons interactifs -->
        <section id="faq" class="faq">
            <h2>Foire Aux Questions (FAQ)</h2>
            <!-- Conteneur accordéon -->
            <div class="accordion">
                <div class="accordion-item">
                    <button class="accordion-header">Comment changer mon mot de passe ?</button>
                    <div class="accordion-content">
                        <p>Tu peux changer ton mot de passe depuis l'onglet "Paramètres du compte", en cliquant sur "Modifier le mot de passe".</p>
                    </div>
                </div>

                <div class="accordion-item">
                    <button class="accordion-header">Comment nous contacter ?</button>
                    <div class="accordion-content">
                        <p>Tu peux nous contacter via le formulaire de contact, accessible depuis le pied de page d'accueil.</p>
                    </div>
                </div>

                <div class="accordion-item">
                    <button class="accordion-header">Mes données sont-elles protégées ?</button>
                    <div class="accordion-content">
                        <p>Oui, tes données sont stockées de façon sécurisée. Nous respectons les normes RGPD en vigueur.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
