{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mon mot de passe{% endblock %}

{% block body %}
    <section class="reset-form-section">
        <h1 class="title-new">Réinitialiser mon mot de passe</h1>

        {{ form_start(ChangePasswordForm) }}

        <div class="form-group">
            {{ form_label(ChangePasswordForm.password) }}
            {{ form_widget(ChangePasswordForm.password) }}
            {{ form_errors(ChangePasswordForm.password) }}
        </div>

        <div class="form-group">
            <button type="submit" class="btn-black">Envoyer</button>
        </div>

        {{ form_end(ChangePasswordForm) }}
    </section>
{% endblock %}
