{% extends 'base.html.twig' %}

{% block title %}{{ artist.name }}{% endblock %}

{% block body %}
    <section class="artist-details">
        <h1 class="title-new">{{ artist.name }}</h1>
        <img src="{{ asset('uploads/artists/' ~ artist.picture) }}" alt="{{ artist.name }}" class="article-cover" width="300">
        <div class="article-content">
            <p>{{ artist.biography|raw }}</p>
        </div>
        <p>Pays : {{ artist.country }}</p>

        {% if artist.urlSpotify %}
            <a href="{{ artist.urlSpotify }}" target="_blank">Écouter sur Spotify</a>
        {% endif %}

        <br>
        <a href="{{ path('app_main') }}">← Retour à l'accueil</a>
    </section>
{% endblock %}
