{% extends 'base.html.twig' %}

{% block title %}House Culture{% endblock %}

{% block body %}
    <div class="posts-index">
        <h1 class="section-title">House Culture</h1>
        <p class="section-intro">
            La house, c’est plus qu’un son : c’est un héritage. Découvrez son histoire, ses pionniers, et les courants qu’elle a inspirés aux quatre coins du monde.
        </p>

        <div class="posts-grid">
            {% for post in posts %}
                <div class="post-card">
                    {% if post.coverImage %}
                        <img src="{{ asset('uploads/posts/' ~ post.coverImage) }}" alt="{{ post.title }}" class="post-image">
                    {% else %}
                        <p class="no-image">Pas d'image</p>
                    {% endif %}

                    <h2 class="post-title">{{ post.title }}</h2>

                    <a href="{{ path('app_posts_show', {'id': post.id}) }}" class="btn-black">Voir plus</a>
                </div>
            {% else %}
                <p>Aucun post trouvé.</p>
            {% endfor %}
        </div>

        <p class="contact-intro">
            Envie de nous faire découvrir un artiste ? Envoi nous un mail via le formulaire de contact sur notre page d'accueil, juste
            <a href="{{ path('app_main') }}">ICI</a>
        </p>
    </div>
{% endblock %}
